body {
    background-color: rgb(40 57 82);
    color: rgb(39, 39, 39);
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.principale {
    width: 60vw;
    background-color: rgb(228 239 255);
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 4px 7px 9px 4px black;
}

.intestazione {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    text-align: center;
    flex-flow: row;
    justify-content: space-evenly;
}
.intestazione .immagine {
    background-image: url("../img/personal.png");
    width: 25%;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 100%;
    background-position-y: center;
}
.intestazione>h1 {
    font-family: monospace;
    width: min-content;
    font-size: 4em;
    text-align: left;
    margin-block: 0;
}
.gLista, .tabella {
    width: 85%;
}
.gLista>h2 {
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(0 0 0 / 70%);
}
.gLista>dl>dt {
    font-family: sans-serif;
    color: rgb(57, 102, 168);
    font-style: italic;
    font-weight: bold;
}
.gLista>dl>dd, td {
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom:10px;
}
.contatti>li{
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;

}
.contatti>li>img {
    width: 5%;
    margin-right: 10px;
    mix-blend-mode: normal;
    opacity: 70%;
}
.contatti>li>.link {
    margin-block: 0;
    font-size: 0.8em;
    font-family: sans-serif;
}
td {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
    padding-top: 5px;
}
table{
    border-collapse: collapse;
}
tr{
    margin-bottom: 20px;
}