body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#f6f6f6;
    color: #122B46;
}
a{
    text-decoration: none;
    color: #404040 ;
}
a:visited{
    color: #0e3e71;;
}
.principale {
    width: 80vw;
    max-width: 800px;
    border-left: solid 1px #d5d5d5;
    padding-left: 20px;
}

dd, dt, h1{
    font-family: Open sans;
}
dt {
    font-size: 2.2em;
}
h1, h2 {
    margin-block: 0;
}
h1 {
    color: #122B46;
    font-weight: 400;
    font-size: 3.2em;
}
dd {
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 10px;
}

h2 {
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.2em;
}

.logo {
    display: block;
    position: absolute;
    width: 15vw;
    left: 20px;
    max-width: 180px;
    top: 20px;
}
img{
    width: inherit;
    max-width: inherit;
}